<h1>About</h1><br><br>

<h5>
  1st Definition:
</h5>
<h3>
  Rabbit Hole
</h3>
<p>
  Metaphor for the conceptual path which is thought to lead to the true
  nature of reality. Infinitesimally deep and complex, venturing too far
  down is probably not that great of an idea. Taking hallucinogenic drugs
  can be considered "tripping" down the rabbit hole, but it is also
  explored through philosophical and existential thinking.<br><br>


  "You take the red pill and you stay in Wonderland and I show you how deep the rabbit hole goes."
  - Morpheus, from The Matrix (I couldnt think of anything original, sorry)
</p><br><br>

<h5>
  2nd Definition:
</h5>
<h3>
  Rabbit Hole
</h3>
<p>
  To go down a never ending tunnel with many twists and turns on the internet,
  never truly arriving at a final destination, yet just finding more tunnels.
  Clicking one link, then finding another on that page, then clicking another
  link on that page, which gives you the idea to search for something, and
  the process repeats.<br><br>

  Nonsensical process of getting from Point A to Point B with no clear
  route (and often no recollection) on how one got there.<br><br>

  "Josh always goes down the rabbit hole, he started by looking at a news
  website and reading about Global Warming, but twenty minutes later he's
  clicked his way to watching youtube videos of monkey's masturbating to sad music"
</p><br><br>

<h5>
  3rd Definition:
</h5>
<h3>
  Rabbit Hole
</h3>
<p>
  It comes from Alice in Wonderland where she fell down the Rabbit Hole into
  some bizarre shit (trippy stuff from the 70s). Therefore, it is commonly used
  as an expression or euphuism for a portal to bizzarro world/significantly
  strange happenings/extremely surreal situations, etc.<br><br>

  Dude A: "I was drinking one minute and the next thing I knew I was in a corn
  field, buck naked, covered in body paint with my genitals pierced singing Christmas songs..."
  <br><br>

  Dude B: "That was some badass rabbit hole you fell down"
</p><br><br>
