<ul class="post-list">

  <li class="post-item">
    <label></label>
    <article>
      <h2>
        <a></a>
      </h2>
      <div class="post-excerpt">
      </div>
    </article>
  </li>

  <li class="post-item">
    <label></label>
    <article>
      <h2>
        <a></a>
      </h2>
      <div class="post-excerpt">
      </div>
    </article>
  </li>

  <li class="post-item">
    <label></label>
    <article>
      <h2>
        <a></a>
      </h2>
      <div class="post-excerpt">
      </div>
    </article>
  </li>
  
</ul>
